$color-blue-light: #2880c1;
$color-dark-grey: #343A40;

$link-color: $color-blue-light;

@media (min-width: 66.5rem) {
    .side-bar {
        width: calc((100% - 1064px) / 3 + 264px)!important;
        min-width: 264px;
    }
    .main-content {
        margin-left: calc((100% - 1064px) / 3 + 264px)!important;
    }
}

a.navigation-list-link{
    color : $color-dark-grey !important;
}