---
title: "Azkarra Streams"
resources:
- src: "logo.png"
  title: "logo"

---

<style>
	.imagesizing {
		width:auto;
		text-align:center;
		padding:10px;
	}
	img {
		max-width:100%;
		height:auto;
	}
</style>

<!-- Welcome to azkarra -->
<section class="row td-box td-box--white position-relative td-box--gradient td-box--height-auto">
	<div class="container td-arrow-down">
		<div class="row">
			<div class="col-sm-8">
				<h1>Welcome to Azkarra Streams!</h1>
				<p class="lead mt-5" style="text: nowrap">Create Kafka Streams applications faster than ever before!</p>
				<a class="btn btn-lg btn-primary mr-3 mb-4" href="docs/getting-started/">
					Get Started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
 				</a>
  			    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/streamthoughts/azkarra-streams">
				    View Repository <i class="fab fa-github ml-2 "></i>
                </a>
			</div>
			<div class="col">
				{{< imgproc "logo" Fit "520x275" >}}{{< /imgproc >}}
			</div>
		</div>
	</div>
</section>

{{< blocks/lead >}}

<div class="container">
	<h2>Easy to use API.</h2>
	Azkarra Streams is a lightweight Java framework which makes easy to develop and operate Kafka Streams applications (Azkarra is Basque word for "Fast")
	    <div class = "imagesizing">
		<img src="screenshot-code.png"/>
	    </div>
	<h3>Highlights</h3>
	<ul class="fa-ul">
		<li><i class="fas fa-check"></i> No more boilerplate code for running Kafka Streams.</li>
		<li><i class="fas fa-check"></i> Easy externalization of configurations (using Typesafe Config).</li>
		<li><i class="fas fa-check"></i> Web UI for topologies visualization.</li>
		<li><i class="fas fa-check"></i> Provides REST endpoints for managing and monitoring local streams instances.</li>
		<li><i class="fas fa-check"></i> Provides REST endpoints for Interactive Queries.</li>
		<li><i class="fas fa-check"></i> Encryption and Authentication with SSL or Basic Auth.</li>
	</ul>
</div>



{{< /blocks/lead >}}


{{< blocks/section color="white" >}}
{{% blocks/feature icon="fa-code" title="Developer-friendly features" %}}
- REST API for Interactive Queries
- Embedded Web UI (DAG visualization)
- Auto create topics
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-cogs" title="Operations" %}}
- Healthcheck
- Metrics (Prometheus, JSON)
- Dead Letter Topic
- RocksDB Tuning
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-shield-alt" title="Security" %}}
- Headless Mode
- TLS/SSL Encryption 
- Basic Authentication
- Client Certification Authentication
{{% /blocks/feature %}}
{{< /blocks/section >}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome" %}}
  <a class="text-white" href="docs/contribution-guidelines/">
    <button type="button" class="btn btn-secondary" style="width:150px; margin-top: 12px;">Contribute</button>
  </a>

Want to join the fun on Github? New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-star" title="Support Azkarra Team" %}}
 <a class="text-white" href="https://github.com/streamthoughts/azkarra-streams">
    <button type="button" class="btn btn-secondary" style="width:150px; margin-top: 12px;">Star</button>
 </a>

Want to support the development team? Add a star to the GitHub project, it only takes 5 seconds!
{{% /blocks/feature %}}

{{< /blocks/section >}}
